<a href="https://colab.research.google.com/github/jdy5294/Deep_Machine_learning/blob/main/0_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1. 파일 불러오기

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Bigdata_Analysis/python_csv/df_sample.csv")
df.set_index('학번', inplace = True)
df

     중간  기말  리포트  퀴즈
학번
S01  90  95   20  20
S02  82  83   18  18
S03  80  78   18  18
S04  78  75   10  10
S05  93  91   12  12
S06  71  75   16  16
S07  60  80   18  18
S08  72  65   14  14
S09  65  65   14  14
S10  85  78   10  10

### 2. 데이터 선택

In [6]:
# 한 행 선택하기
df.loc['S01']

중간     90
기말     95
리포트    20
퀴즈     20
Name: S01, dtype: int64

In [7]:
# 여러 행 선택하기
df.loc['S06':]

     중간  기말  리포트  퀴즈
학번
S06  71  75   16  16
S07  60  80   18  18
S08  72  65   14  14
S09  65  65   14  14
S10  85  78   10  10

In [8]:
# 인덱스로 추출하기
df.iloc[0]

중간     90
기말     95
리포트    20
퀴즈     20
Name: S01, dtype: int64

In [11]:
# 하나의 열 선택
df['기말']          # Series 형태로 출력

학번
S01    95
S02    83
S03    78
S04    75
S05    91
S06    75
S07    80
S08    65
S09    65
S10    78
Name: 기말, dtype: int64

In [14]:
# 여러 열 선택  
df[['중간', '기말']]  # DataFrame 형태로 출력

     중간  기말
학번
S01  90  95
S02  82  83
S03  80  78
S04  78  75
S05  93  91
S06  71  75
S07  60  80
S08  72  65
S09  65  65
S10  85  78

In [20]:
# 조건에 해당하는 데이터 프레임 출력
df[df['중간']>80]

     중간  기말  리포트  퀴즈
학번
S01  90  95   20  20
S02  82  83   18  18
S05  93  91   12  12
S10  85  78   10  10

In [18]:
df[(df['중간']>80) & (df['기말'] > 90)]

     중간  기말  리포트  퀴즈
학번
S01  90  95   20  20
S05  93  91   12  12

### 3. 결측치 확인

In [27]:
import numpy as np
df.loc[df['퀴즈'] < 15, '퀴즈'] = np.nan
df

     중간  기말  리포트    퀴즈
학번
S01  90  95   20  20.0
S02  82  83   18  18.0
S03  80  78   18  18.0
S04  78  75   10   NaN
S05  93  91   12   NaN
S06  71  75   16  16.0
S07  60  80   18  18.0
S08  72  65   14   NaN
S09  65  65   14   NaN
S10  85  78   10   NaN

In [28]:
# df에서 '퀴즈'값이 NaN인 값만 추출 
df[df['퀴즈'].isnull()]

     중간  기말  리포트  퀴즈
학번
S04  78  75   10 NaN
S05  93  91   12 NaN
S08  72  65   14 NaN
S09  65  65   14 NaN
S10  85  78   10 NaN

In [29]:
# df에서 '퀴즈'값이 NaN이 아닌 값만 추출 
df[df['퀴즈'].notnull()]

     중간  기말  리포트    퀴즈
학번
S01  90  95   20  20.0
S02  82  83   18  18.0
S03  80  78   18  18.0
S06  71  75   16  16.0
S07  60  80   18  18.0

### 4. 데이터 조작

In [31]:
# 전과 후의 차이를 비교하기 위해 display 함수를 사용
display(df)

# 조건에 해당하는 부분의 값 변경
df.loc[:,'']

     중간  기말  리포트    퀴즈
학번
S01  90  95   20  20.0
S02  82  83   18  18.0
S03  80  78   18  18.0
S04  78  75   10   NaN
S05  93  91   12   NaN
S06  71  75   16  16.0
S07  60  80   18  18.0
S08  72  65   14   NaN
S09  65  65   14   NaN
S10  85  78   10   NaN